{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <h2>Редактирование {{ entity_type|capitalize }}: {{ entity._key }}</h2>

    <form method="post" class="mt-3">
        {% for key, value in entity.items() %}
            {% if key != "_key" %}
            <div class="mb-3">
                <label for="{{ key }}" class="form-label">{{ key|capitalize }}</label>
                <input
                    type="text"
                    class="form-control"
                    min="0" step="any"
                    id="{{ key }}"
                    name="{{ key }}"
                    value="{{ value | e }}"
                >
            </div>
            {% endif %}
        {% endfor %}

        <button type="submit" class="btn btn-primary">Сохранить</button>
        <a href="/entities/{{ entity_type }}/" class="btn btn-secondary ms-2">Назад к списку</a>
    </form>
</div>
{% endblock %}
